*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Calibri;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}